management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
  endpoint:
    health:
      show-details: always

spring:
  application:
    name: bulk-transactions

  datasource:
    url: jdbc:mysql://localhost:3306/bulk_transaction?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect


resilience4j:
  retry:
    instances:
      txServiceRetry:
        max-attempts: 3
        wait-duration: 500ms
        exponential-backoff-multiplier: 2
  circuitbreaker:
    instances:
      txServiceCB:
        sliding-window-type: COUNT_BASED
        sliding-window-size: 10
        failure-rate-threshold: 50
        wait-duration-in-open-state: 5s


transaction-service:
  base-url:

jwt:
  secret: yE3qUb6gzzRKZy0Yih+kGkkxEtbzqMSHZCxCEcWeOMA=
  expiration: 86400000
